{% extends "index.html" %}

{% block body %}
    <div class = "container mt-5">
        <div class="row flex-column">
            <div class="col-lg-5 mx-auto mt-4">
                <form method="POST" action="">
                    <fieldset>
                    <legend>
                        <h1 class="display-4 text-center text-primary">LOG IN</h1>
                        <img width="40%" height="auto" src="{{ url_for('static',filename = 'img/login.png')}}" class="mx-auto d-block">
                    </legend>
                        {{ form.csrf_token}}
                        <div class = "form-group pt-2">
                            {{ form.email.label }}
                            {{ form.email( class = "form-control" ) }}
                        </div>
                        <div class = "form-group pt-2">
                            {{ form.password.label}}
                            {{ form.password( class = "form-control")}}
                            </div>
                            <div class="form-group">
                                <div class="form-check pt-2">
                                {{ form.rememberme(class="form-check-input")}}
                                {{ form.rememberme.label(class="form-check-label") }}
                            </div>
                        </div>
                        <button type = "submit" class = "btn btn-outline-primary mx-auto d-block">Log in </button>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-5 mx-auto mt-3 border-top">
                <small>Did you forget your password ? </small><a href="/" class="text-danger"> Reset Password</a>
            </div>
        </div>
    </div>
{% endblock body %}